
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique de mes Commits</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1> Graphique de mes Commits</h1>
    <canvas id="commitsChart" width="400" height="200"></canvas>
    <script>
        async function fetchCommitsData() {
            const response = await fetch('/commits/data');
            const data = await response.json();
            return data.commit_minutes;
        }

        function renderChart(commitMinutes) {
            const ctx = document.getElementById('commitsChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'bar', // Vous pouvez aussi utiliser 'bar', 'pie', etc.
                data: {
                    labels: commitMinutes.map((minute, index) => index + 1),
                    datasets: [{
                        label: 'Commits per Minute',
                        data: commitMinutes,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', async () => {
            const commitMinutes = await fetchCommitsData();
            renderChart(commitMinutes);
        });
    </script>
</body>

</html>
